{% extends 'base.html' %}
{% block title %} Notifications {% endblock %}
{% block body %}
<div class="col-8 my-3 mx-auto border shadow p-4" style="border-radius:1rem">
    <h3>Notifications</h3>
    <hr>
    <ul class="list-group">
        {% for notification in notifications %}
        <li class="list-group-item {% if notification.is_read %}list-group-item-secondary{% endif %}">
            {{ notification.message }}
            <span class="float-end">{{ notification.created_at }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}