{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block body %}
<div class="col-8 my-3 mx-auto border shadow p-4" style="border-radius:1rem">
    <h3>Search</h3>
    <hr>
    <form method="GET">
        <input type="text" name="query" class="form-control" placeholder="Search users, feedback, or notifications">
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
    <hr>
    {% if results %}
    <h5>Search Results:</h5>
    <ul>
        {% for result in results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}